.actions-menu {
  width: 110px;
  margin: 0;
  padding: 0;
  position: relative;

  &--active {
    z-index: $initial-order + 1;
  }
}

.actions-menu__heading {
  height: 32px;
  padding: 4px 30px 4px 11px;
  display: block;
  position: relative;
  color: $color--white;
  border-radius: $corner-radius;
  border: 1px solid $color--mine-shaft;
  z-index: $initial-order;
  font-size: $font-size--title;
  font-weight: normal;
  cursor: pointer;
  background-color: darken($color--mine-shaft, 7%);
  transition: background $animation--duration $animation--timing;

  &:hover {
    background-color: $color--mine-shaft;

    &:after {
      color: $color--white;
    }
  }

  &:after {
    @include only-icon-font;
    content: '\e908';
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate3d(0, -50%, 0);
    color: $color--boulder;
    font-size: 8px;
    transition: color $animation--duration $animation--timing;
  }
}

.actions-menu__container {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: $corner-radius;
  border-bottom-right-radius: $corner-radius;
  list-style: none;
  position: absolute;
  top: 28px;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
  background-color: $color--mine-shaft;
  transition: max-height $animation--duration $animation--timing,
              visibility $animation--duration $animation--timing,
              z-index $animation--duration-slow $animation--duration-slow $animation--timing;

  &--hidden {
    max-height: 0 !important;
  }

  &--active {
    visibility: visible;
    pointer-events: auto;
  }
}

.actions-menu__item {
  transition: background $animation--duration $animation--timing;

  &:hover {
    background-color: lighten($color--mine-shaft, 4.5%);
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid lighten($color--mine-shaft, 4.5%);
  }

  &:first-child {
    padding-top: 8px;
  }
}

.actions-menu__item__link {
  display: block;
  padding: 5px 11px;
}
