.calendar {
	&--col {
		position: absolute;
		top: 27px;
		right: 30px;

		@media (max-width: 767px) {
			margin-top: 11px;
			position: relative;
			top: auto;
			right: auto;
		}

		&.calendar--hover,
		&.calendar--clicked {
			z-index: $initial-order * 10;
		}
	}
}

.calendar__btn {
	color: $color--boulder;
	cursor: pointer;
	transition: color $animation--duration $animation--timing;

	&:after {
		@include only-icon-font;
		content: '\e908';
		margin-left: 10px;
		position: relative;
		top: -2px;
		font-size: 7px;
	}

	.calendar--clicked &,
	.calendar--hover &,
	&:hover {
		color: $color--white;
	}
}

.calendar__picker {
	width: $calendar--width;
	padding-top: 15px;
	border: 1px solid $color--cod-gray;
	border-radius: 6px;
	position: absolute;
	top: calc(100% + 5px);
	right: -20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
	background-color: darken($color--mine-shaft, 7%);
  transform: translate3d(0, -5%, 0);
  transition: opacity $animation--duration $animation--timing,
              visibility $animation--duration $animation--timing,
              transform $animation--duration $animation--timing;

	@media (max-width: 767px) {
		top: calc(100% + 10px);
		right: auto;
		left: 50%;
		transform: translate3d(-50%, -5%, 0);
	}

	.calendar--clicked &,
	.calendar--hover & {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate3d(0, 0, 0);

		@media (max-width: 767px) {
			transform: translate3d(-50%, 0, 0);
		}
  }

  &:before {
    content: '';
    height: 9px;
    position: absolute;
    top: -9px;
    right: 0;
    left: 0;
  }

  &:after {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    top: -5px;
    right: 20px;
    background-color: darken($color--mine-shaft, 7%);
    border-top: 1px solid $color--cod-gray;
    border-right: 1px solid $color--cod-gray;
    transform: rotate(-45deg);

		@media (max-width: 767px) {
			top: -10px;
			right: auto;
			left: 50%;
			transform: rotate(-45deg) translate3d(-50%, 0, 0);
		}
  }
}

.calendar__picker__heading {
	margin-bottom: 14px;
	position: relative;
}

.calendar__picker__heading__text {
	font-weight: normal;
	text-align: center;
}

.calendar__picker__heading__btn {
	position: absolute;
	top: 7px;
	font-size: 0;
	cursor: pointer;
	transition: opacity $animation--duration $animation--timing;

	&:hover {
		opacity: 0.5;
	}

	&:before {
		font-size: 8px;
	}

	&--prev {
		left: 15px;
		transform: rotate(90deg) translateZ(1px);
	}
	&--next {
		right: 15px;
		transform: rotate(-90deg) translateZ(1px);
	}
}

.calendar__picker__days {
	display: flex;
	margin: 0 0 15px 0;
	padding: 0 18px;
	justify-content: space-between;
	list-style: none;
}

.calendar__picker__day {
	color: $color--boulder;
	font-size: $font-size--paragraph-small;
	cursor: default;
}

.calendar__picker__nav {
	margin: 0;
	padding: 0 8px;
	background-color: $color--cod-gray;
	overflow: hidden;
	list-style: none;
}

.calendar__picker__nav__item {
	width: 14.28%;
	padding-top: 10px;
	padding-bottom: 8px;
	float: left;
	position: relative;
	text-align: center;

	&:after {
		content: '';
		border-bottom: 1px solid darken($color--mine-shaft, 7%);
		position: absolute;
		right: -8px;
		bottom: -1px;
		left: -8px;
	}

	&:nth-child(7n) {
		.calendar__picker__nav__btn {
			&--active {
        &:not(.calendar__picker__nav__btn--single) {
          &:not(.calendar__picker__nav__btn--last) {
            &:hover {
              &:after {
                background-color: lighten($color--blue-marguerite, 2%);
              }
            }
            &:after {
    					content: '';
              width: 8px;
              position: absolute;
              top: 0;
              bottom: 0;
              right: -8px;
              background-color: $color--blue-marguerite;
    				}
          }
        }
			}
		}
	}
	&:nth-child(7n-6) {
    .calendar__picker__nav__btn {
			&--active {
        &:not(.calendar__picker__nav__btn--single) {
          &:not(.calendar__picker__nav__btn--first) {
            &:hover {
              &:after {
                background-color: lighten($color--blue-marguerite, 2%);
              }
            }
            &:after {
    					content: '';
              width: 8px;
              position: absolute;
              top: 0;
              bottom: 0;
              left: -8px;
              background-color: $color--blue-marguerite;
    				}
          }
        }
			}
		}
	}
}

.calendar__picker__nav__btn {
	width: 100%;
	height: 32px;
	position: relative;
	font-size: $font-size--paragraph-small;
	cursor: pointer;

	&:hover {
		background-color: $color--blue-marguerite;
	}

	&:not(.calendar__picker__nav__btn--active) {
		border-radius: 50%;
	}

	&--single {
		border-radius: 50%;
	}
	&--first {
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
	}
	&--last {
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
	}

	&--active {
		background-color: $color--blue-marguerite;

		&:hover {
			background-color: lighten($color--blue-marguerite, 2%);
		}
	}
}
