.col {
	margin: 0 #{$spacing-horizontal / 2} $spacing-vertical #{$spacing-horizontal / 2};
	padding: $spacing;
	border-radius: 6px;
	position: relative;
	background-color: darken($color--mine-shaft, 7%);

	@media (max-width: 767px) {
		width: 100%;
		margin: 0 #{$spacing-horizontal--small / 2} $spacing-vertical--small #{$spacing-horizontal--small / 2};
		padding: $spacing-vertical $spacing-horizontal--small;
	}

	&--usage {
		text-align: center;
	}
	&--tab {
		overflow: hidden;
	}
}

.col__heading {
  max-height: 20px;
  margin-top: -4px;
  font-size: $font-size--title;
  text-align: left;
  white-space: normal;

  &--with-graph {
    width: calc(100% - 110px);
  }
	&--with-calendar {
		@media (max-width: 767px) {
			max-height: initial;
		}
	}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
    font-weight: normal;
  }
}
