//TODO: VALIDATION JS AND STYLES

.form {
  &--col {
    padding-top: 24px;
  }
}

.form__group {
  &--error {
    color: $color--sunset-orange;
  }
  &--success {
    color: $color--sushi;
  }
}

.form__title {
  margin-bottom: 6px;
  padding-right: 12px;
  display: block;
  position: relative;
  cursor: pointer;

  &:after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 0;
    border-radius: 50%;
    transform: translate3d(0, -50%, 0);
    background-color: $color--sunset-orange;
  }
}

.field {
  &[class*=icon] {
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translate3d(0, -50%, 0);
      pointer-events: none;
      transition: color $animation--duration $animation--timing;
    }

    &.focus {
      &:before {
        color: darken($color--mine-shaft, 7%);
      }
    }
  }
  &.icon-mail {
    &:focus {
      &:before {
        color: red;
      }
    }
    &:before {
      margin-top: 2px;
      font-size: 11px;
      color: inherit;
    }
  }
}

.input,
.textarea {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: $color--mine-shaft;
  color: $color--white;
  transition: background-color $animation--duration $animation--timing,
              color $animation--duration $animation--timing,
              border-color $animation--duration $animation--timing;

  &:hover {
    background-color: $color--tundora;
  }
  &:focus {
    color: darken($color--mine-shaft, 7%);
    background-color: $color--white;
    border-color: transparent;
  }

  &--with-icon {
    padding-left: 45px;
  }
  &--error {
    border-color: $color--sunset-orange;
  }
  &--success {
    border-color: $color--sushi;
  }
}

.input {
  height: 42px;
}

.textarea {
  height: 92px;
  resize: none;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: $font-size--paragraph-small;

  &::-webkit-input-placeholder {
    opacity: 1;
    color: $color--boulder;
  }
  &::-moz-placeholder {
    opacity: 1;
    color: $color--boulder;
  }
  &:-ms-input-placeholder {
    opacity: 1;
    color: $color--boulder;
  }

  &--share {
    margin-top: 10px;
  }
}

.form__error {
  text-align: right;
}

.form__error__text {
  display: block;
}
