.graph {
    margin: 0 -#{$spacing};
    padding: $spacing $spacing 0 $spacing;
    border-top: 1px solid $color--mine-shaft;

    @media (max-width: 767px) {
        margin: 0 -#{$spacing--small};
        padding: $spacing--small $spacing--small 0 $spacing--small;        
    }
}

.graph-example {
    max-width: 100%;
    display: block;
}