.heading {
  margin-bottom: 27px;

  @media (max-width: 767px) {
    margin-bottom: 16px;
  }

  &:first-child {
    padding-top: 22px;
    border-top: 1px solid $color--mine-shaft;

    @media (max-width: 767px) {
      margin-top: -5px;
      padding-top: 0;
      border-top: 0;
    }
  }

  &--without-border {
    &,
    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }

  &--with-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }
}

.heading__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: $font-size--heading;
  color: $color--white;

  @media (max-width: 767px) {
    font-size: $font-size--heading - 4px;
  }

  &--minor {
    margin-top: 8px;
    font-size: $font-size--title;
    font-weight: normal;
    color: $color--boulder;

    @media (max-width: 767px) {
      margin-top: 0;
    }
  }
  &--with-actions {
    margin-right: $spacing-horizontal;

    @media (max-width: 1200px) {
      margin-right: 0;
      margin-bottom: $spacing-vertical--small;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.heading__actions {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  @media (max-width: 1200px) {
    width: 100%;
    justify-content: center;
  }
  @media (max-width: 767px) {
    flex-wrap: wrap-reverse;
  }
}
