.link {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

  &--more {
    color: $color--boulder;
    text-decoration: underline;
    font-size: $font-size--paragraph-small - 1;

    &:hover {
      color: $color--white;
    }
  }
  &--small {
    font-size: $font-size--small;
  }
  &--read {
    color: $color--sushi;
  }
  &--special {
    font-weight: bold;
    text-decoration: underline;
  }
}
