.link {
  cursor: pointer;
  text-decoration: none;
  transition: color $animation--duration $animation--timing;

  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

  &--more {
    color: $color--boulder;
    text-decoration: underline;
    font-size: $font-size--paragraph-small - 1;

    &:hover {
      color: $color--white;
    }
  }
  &--small {
    font-size: $font-size--small;
  }
  &--read {
    color: $color--sushi;
  }
  &--special {
    font-weight: bold;
    text-decoration: underline;
  }
  &--underline {
    position: relative;
    transition: opacity $animation--duration $animation--timing;

    &:hover {
      text-decoration: none;

      &:after {
        border-bottom-color: transparent;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid;
      transition: border $animation--duration $animation--timing;
    }
  }
  &--gray {
    color: $color--boulder;

    &:hover {
      color: $color--white;
    }
  }
  &--blue {
    color: $color--blue-marguerite;

    &:hover {
      color: $color--white;
    }
  }
}
