.logo {
	font-size: 0;

	&:before {
		font-size: 20px;
	}

	&--sidebar {
		width: 100%;
		height: 70px;
		margin-bottom: 40px;
		background-color: $color--blue-marguerite;
		transition: $animation--duration background $animation--timing;

		&:hover {
			background-color: lighten($color--blue-marguerite, 2%);
		}

		&:before,
		&:after {
			position: absolute;
			left: 30px;
			pointer-events: none;
		}

		&:before {
			top: 24px;
			left: 30px;
			font-size: 22px;
			transition: opacity $animation--duration-slow $animation--duration-slow $animation--timing;

			.sidebar--collapsed & {
					opacity: 0;
					transition: opacity $animation--duration-slow $animation--timing;
			}
		}
		&:after {
			@include only-icon-font;
			content: '\e907';
			top: 15px;
			font-size: 40px;
			transition: opacity $animation--duration-slow $animation--duration-slow $animation--timing;

			.sidebar:not(.sidebar--collapsed) & {
				opacity: 0;
				transition: opacity $animation--duration-slow $animation--timing;
			}
		}
	}
}

.logo__link {
	display: block;
	width: 100%;
	height: 100%;
}
