.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.pagination__item {
  position: relative;

  &:not(:first-child) {
    border-left: 1px solid darken($color--mine-shaft, 7.2%);
  }
  &:first-child {
    .pagination__link {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  &:last-child {
    .pagination__link {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  &--active {
    pointer-events: none;

    &:after {
      content: '';
      width: 100%;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 0;
      border-radius: 5px;
      transform: translate3d(0, -50%, 0);
      background-color: $color--cod-gray;
    }

    .pagination__link {
      pointer-events: none;
      background-color: transparent !important;
    }
  }
}

.pagination__link {
  display: block;
  min-width: 40px;
  height: 32px;
  line-height: 32px;
  color: $color--white;
  position: relative;
  z-index: 1;
  background-color: $color--mine-shaft;

  &:hover {
    background-color: $color--tundora;
  }
}
