.search {
	position: relative;

	&:before {
		position: absolute;
		top: 12px;
		left: 20px;
		font-size: 18px;
		pointer-events: none;
	}
}

.search__field {
	height: 42px;
  padding: 0 48px;
	border: 0;
	border-radius: 6px;
	background-color: $color--mine-shaft;
	font-size: $font-size--paragraph;
	transition: background-color $animation--duration $animation--timing,
              width $animation--duration $animation--timing;

	&:focus {
		background-color: $color--tundora;
	}

	&,
	&::-webkit-input-placeholder {
		opacity: 1;
		color: $color--white;
	}
	&::-moz-placeholder {
		opacity: 1;
		color: $color--white;
	}
	&:-ms-input-placeholder {
		opacity: 1;
		color: $color--white;
	}
}

.search__field--nav {
	width: 250px;

	&:focus {
		width: 300px;
	}
}

.search__cancel {
  position: absolute;
  top: 15px;
  right: 19px;
  font-size: 0;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity $animation--duration $animation--timing,
              visibility $animation--duration $animation--timing;

  &:before {
    font-size: 12px;
    color: $color--sunset-orange;
  }

  .search__field:focus + & {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
