.select {
  width: 300px;
  position: relative;

  &--with-btn {
    width: calc(100% - 123px);

    @media (max-width: 767px) {
      width: calc(100% - 85px);      
    }
  }
}

.select__heading {
  display: block;
  height: 42px;
  line-height: 42px;
  padding: 0 38px 0 $spacing--small;
  font-size: $font-size--title;
  color: $color--white;
  border-radius: $corner-radius;
  background-color: $color--mine-shaft;
  cursor: pointer;
  align-items: center;
  font-weight: normal;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: $initial-order + 1;
  transition: background $animation--duration $animation--timing;

  .ie & {
    padding-top: 2px;
  }

  &:hover,
  &.dropdown__trigger--active {
    background-color: $color--tundora;
  }

  &:after {
    @include only-icon-font;
    content: '\e908';
    position: absolute;
    top: 50%;
    right: 19px;
    transform: translate3d(0, -50%, 0);
    color: $color--boulder;
    font-size: 8px;
    transition: color $animation--duration $animation--timing,
                transform $animation--duration $animation--timing;
  }
}

.select__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 38px;
  left: 0;
  visibility: hidden;
  z-index: $initial-order;
  overflow: hidden;
  pointer-events: none;
  border-bottom-left-radius: $corner-radius;
  border-bottom-right-radius: $corner-radius;
  box-shadow: 0 28px 70px 4px rgba($color--black, 0.19);
  background-color: darken($color--mine-shaft, 7%);
  transition: visibility $animation--duration $animation--timing,
              max-height $animation--duration $animation--timing;

  &.dropdown__content--hidden {
    max-height: 0 !important;
  }

  &.dropdown__content--active {
    visibility: visible;
    pointer-events: auto;
  }
}

.select__list__item {
  padding: 16px $spacing-horizontal--small;
  cursor: pointer;
  transition: background $animation--duration $animation--timing;
  position: relative;

  &:hover {
    background-color: $color--mine-shaft;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $color--mine-shaft;
  }
  &:first-child {
    padding-top: 20px;
  }
}
