@keyframes tooltip-bounce {
  0%   { transform: translate3d(-50%, 0, 0); }
  50% { transform: translate3d(-50%, -8px, 0); }
  100%   { transform: translate3d(-50%, 0, 0); }  
}

.table {
  margin: $spacing-vertical #{-$spacing-horizontal} 24px #{-$spacing-horizontal};
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media (max-width: 767px) {
    margin-bottom: 0;

    &--without-notification {
      &:before,
      &:after {
        opacity: 0;
        visibility: hidden;
      }
    }

    &:before,
    &:after {
      position: absolute;
      pointer-events: none;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      z-index: $initial-order;
      animation: tooltip-bounce 4s $animation--timing infinite;
      transition: opacity $animation--duration $animation--timing,
                  visibility $animation--duration $animation--timing;
    }

    &:before {
      content: 'Swipe to scroll';
      height: 48px;
      padding-right: 17px;
      padding-left: 17px;
      top: -11px;
      background: $color--sushi;
      border-radius: $corner-radius;
      line-height: 48px;
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      top: 35px;
      left: 50%;
      border-style: solid;
      border-width: 7px 6px 0 6px;
      border-color: $color--sushi transparent transparent transparent;
    }
  }
}

.table__container {
  width: 100%;
  position: relative;

  @media (max-width: 767px) {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    // &::after {
    //   content: '';
    //   width: $spacing-horizontal--small;
    //   height: 100%;
    //   position: fixed;
    //   top: 0;
    //   right: 0;
    //   z-index: $initial-order * 2;
    //   background: linear-gradient(to left, darken($color--mine-shaft, 7%) 0%, rgba(40, 40, 40, 0.01) 100%);      
    //   transition: opacity $animation--duration $animation--timing;
      
    //   .safari & {
    //     position: sticky;
    //   }
    // }

    // &--in-corner {
    //   &:after {
    //     opacity: 0;
    //     pointer-events: none;
    //   }
    // }
  }
}

.table__header,
.table__row {
  justify-content: space-between;
}

.table__header {
  width: 100%;
  min-height: 52px;
  display: flex;
  align-items: center;
  background: $color--mine-shaft;
}

.table__header,
.table__list {
  @media (max-width: 767px) {
    min-width: 855px;
  }
}

.table__heading {
  display: inline-block;

  .ie & {
    min-height: 0 !important;
    padding-top: 18px !important;
  }
}

.table__heading__text {
  padding-right: 16px;
  font-size: $font-size--paragraph;
  color: $color--boulder;
  cursor: pointer;
  position: relative;
  pointer-events: auto;
  transition: color $animation--duration $animation--timing;

  &:before,
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 4px;
    border-left-width: 4px;
    border-bottom: 4px solid rgba($color--boulder, 0.7);
    transition: border $animation--duration $animation--timing;
  }
  &:before {
    top: 5px;
  }
  &:after {
    top: 11px;
    transform: rotate(180deg);
  }

  &:hover {
    color: $color--white;

    &:before,
    &:after {
      border-bottom: 4px solid $color--white;
    }
  }
}

.table__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.table__row {
  display: flex;
  min-height: 73px;
  align-items: center;
  border-bottom: 1px solid $color--mine-shaft;
}

.table__item {
  padding-right: $spacing-horizontal--small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .ie & {
    min-height: 73px;
    padding-top: 28px;
    padding-right: 0;
  }

  &--website {
    width: 23.88%;
    padding-left: $spacing-horizontal;
  }
  &--name {
    width: 19.02%;
  }
  &--url {
    width: 23.88%;
  }
  &--time {
    width: 13.16%;
  }
  &--status {
    width: 10.34%;
  }
  &--menu {
    width: 9.72%;
    flex-basis: 138px;
  }

  &--invisible {
    text-indent: -9999px;
  }

  &--blue {
    color: $color--blue-marguerite;
  }
}

.table__footer {
  width: 100%;
  margin-top: 34px;
  padding: 0 $spacing-horizontal;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    margin-top: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.table__footer__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.table__footer__nav__item {
  margin-right: 28px;
  display: inline-block;
  font-size: $font-size--paragraph;

  &:last-child {
    margin-right: 0;
  }
}

.table__footer__nav__link {
  color: $color--boulder;
}
