.tabs {
	&--col {
		margin: -4px (-$spacing-horizontal) 0 (-$spacing-horizontal);
	}
}

.tabs__nav {
	border-bottom: 1px solid $color--mine-shaft;
}

.tabs__nav__list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.tabs__nav__item {
	margin: 0 $spacing-horizontal 27px $spacing-horizontal;
	position: relative;
	color: $color--boulder;
	transition: color $animation--duration $animation--timing;

	&:hover {
		color: $color--white;
	}

	&:before {
		content: '';
		width: 1px;
		height: 13px;
		position: absolute;
		top: 6px;
		right: -29px;
		background-color: $color--mine-shaft;
	}

	&:last-child {
		margin-right: 0;
		&:before {
			display: none;
		}
	}

	&--active {
		color: $color--white;

		&:after {
			content: '';
			width: 100%;
			height: 2px;
			position: absolute;
			bottom: -28px;
			left: 0;
			background-color: $color--blue-marguerite;
		}
	}
}

.tabs__content {
	position: relative;
	overflow: hidden;
	transition: height $animation--duration-slow $animation--timing;

	&:before,
	&:after {
		content: '';
		width: $spacing-horizontal;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 100;
	}
	&:before {
		left: 0;
		background: linear-gradient(to right, darken($color--mine-shaft, 7%) 0%, transparent 100%);
	}
	&:after {
		right: 0;
		background: linear-gradient(to left, darken($color--mine-shaft, 7%) 0%, transparent 100%);
	}
}

.tabs__content__item {
	opacity: 0;
	width: 100%;
	padding: $spacing-horizontal $spacing-horizontal 0 $spacing-horizontal;
	position: absolute;
	top: 0;
	left: 100%;

	&:not(.tabs__content__item--active) {
		&:not(.tabs__content__item--hiding) {
			&:first-child,
			.tabs__content__item:not(.tabs__content__item--active) ~ & {
				left: -100%;
			}
		}
	}

	&--active {
		opacity: 1;
		left: 0;
		transition: $animation--duration-slow $animation--timing;

		&:not(.tabs__content__item--hiding) {
			~ .tabs__content__item {
				left: 100% !important;
			}
		}
	}
	&--hiding {
		opacity: 0 !important;
		left: -100%;
		transition: $animation--duration-slow $animation--timing;

		.tabs__content__item--active ~ & {
			left: 100%;
		}
	}
}
