@keyframes usage--sidebar-hide {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		min-width: 175px;
	}
	51% {
		min-width: 0;
	}
	100% {
		opacity: 1;
		min-width: 0;
	}
}

@keyframes usage--sidebar-show {
	0% {
		opacity: 1;
		min-width: 0;
		max-width: $sidebar--width-colapsed;
	}
	50% {
		opacity: 0;
		min-width: 0;
		max-width: $sidebar--width-colapsed;
	}
	51% {
		min-width: 175px;
		max-width: 100%;
	}
	100% {
		opacity: 1;
		min-width: 175px;
		max-width: 100%;
	}
}

@keyframes usage--flex-hide {
	0% {
		flex-direction: row;
		text-align: left;
	}
	99% {
		flex-direction: row;
		text-align: left;
	}
	100% {
		flex-direction: column;
		text-align: center;
	}
}

@keyframes usage--flex-show {
	0% {
		flex-direction: column;
		text-align: center;
	}
	99% {
		flex-direction: column;
		text-align: center;
	}
	100% {
		flex-direction: row;
		text-align: left;
	}
}

.usage-info {
	&--sidebar {
		min-width: 175px;
		padding: 15px $spacing-horizontal 12px $spacing-horizontal;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		transition: padding $animation--duration-slow $animation--timing;

		&:after {
			content: '';
			width: $sidebar--width;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			background-color: darken($color--mine-shaft, 8.5%);
		}

		.sidebar--loaded:not(.sidebar--collapsed) & {
			animation: usage--sidebar-show ($animation--duration-slow * 2) forwards alternate $animation--timing;
		}
		.sidebar--collapsed & {
			padding: 14px 7px 12px 9px;
			animation: usage--sidebar-hide ($animation--duration-slow * 2) forwards alternate $animation--timing;
		}
	}
}

.usage-info__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 13px;

	&,
	* {
		transition: 0s $animation--duration-slow;
	}

	.sidebar--loaded:not(.sidebar--collapsed) & {
		animation: usage--flex-show $animation--duration-slow forwards alternate $animation--timing;
	}
	.sidebar--collapsed & {
		animation: usage--flex-hide $animation--duration-slow forwards alternate $animation--timing;
	}
}

.usage-info__name,
.usage-info__content {
	&:not(:last-of-type) {
		margin-bottom: 13px;
	}
}

.usage-info__name {
	width: 111px;
	white-space: nowrap;

	.sidebar--collapsed & {
		width: 100%;
		margin-bottom: 1px;
	}
}

.usage-info__content {
	width: calc(100% - 111px);
	margin-left: 0;
	position: relative;
	align-content: space-between;
	align-self: center;
	text-align: right;

	.sidebar--collapsed & {
		width: 100%;
	}

	$i: 0;

	@while $i < 100 {
		&[data-usage-traffic="#{$i}%"] {
			@if $i < 40 {
				color: $color--sushi;

				&:after {
					background-color: $color--sushi;
				}
			} @else if $i < 60 {
				color: $color--gold;

				&:after {
					background-color: $color--gold;
				}
			} @else if $i < 85 {
				color: $color--pizazz;

				&:after {
					background-color: $color--pizazz;
				}
			} @else {
				color: $color--sunset-orange;

				&:after {
					background-color: $color--sunset-orange;
				}
			}

			&:after {
				width: calc(#{$i}% - #{$i / 2.56}px);

				.sidebar--collapsed & {
					width: calc(#{$i}% - #{$i / 2.94}px);
				}
			}
		}

		$i: $i + 1;
	}

	&:before {
		content: '';
		width: calc(100% - 39px);
		height: 6px;
		margin-top: 5px;
		border-radius: 6px;
		float: left;
		align-self: center;
		background-color: $color--mine-shaft;
		transition: width $animation--duration-slow $animation--duration-slow $animation--timing;

		.sidebar--collapsed & {
			width: calc(100% - 34px);
			transition: width $animation--duration-slow $animation--timing;
		}
	}
	&:after {
		content: '';
		height: 6px;
		border-radius: 6px;
		position: absolute;
		top: 5px;
		left: 0;
		background-color: red;
		transition: width $animation--duration-slow $animation--duration-slow $animation--timing;

		.sidebar--collapsed & {
			transition: width $animation--duration-slow $animation--timing;
		}
	}

	&--only-bar {
		display: block;

		&:before {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&--col {
		width: 90px;
		position: absolute;
		top: 32px;
		right: 29px;

		@media (min-width: 1200px) and (max-width: 1400px) {
			width: 70px;
		}

		@media (min-width: 1200px) and (max-width: 1280px) {
			width: 50px;
		}

		$i: 0;

		@while $i < 100 {
			&[data-usage-traffic="#{$i}%"] {
				&:after {
					width: #{$i}%;
				}
			}

			$i: $i + 1;
		}
	}
}

.usage-info__heading {
	width: 100%;
	margin-top: 22px;
	margin-bottom: 8px;
	text-align: center;
	display: block;
	font-size: 120px;
	line-height: 1;

	@media (max-width: 1400px) {
		font-size: 96px;
	}

	&:before,
	&:after {
		position: absolute;
		top: 0;
		right: 0;
	}

	$i: 0;

	@while $i < 100 {
		&[data-usage-traffic="#{$i}%"] {
			@if $i < 40 {
				color: $color--sushi;
			} @else if $i < 60 {
				color: $color--gold;
			} @else if $i < 85 {
				color: $color--pizazz;
			} @else {
				color: $color--sunset-orange;
			}
		}

		$i: $i + 1;
	}
}

.usage-info__heading__unit {
	font-size: 50px;

	@media (max-width: 1400px) {
		font-size: 40px;
	}
}

.usage-info__list__unnecessary {
	transition: opacity $animation--duration $animation--duration-slow $animation--timing;

	.sidebar--collapsed & {
		opacity: 0;
		transition: opacity $animation--duration-slow $animation--timing;
	}
}
