// @keyframes usage--sidebar-hide {
// 	0% {
// 		transform: translate3d(0, 0, 0);
// 	}
// 	50% {
// 		min-width: 300px;
// 		transform: translate3d(-600px, 0, 0);
// 	}
// 	51% {
// 		min-width: 0;
// 	}
// 	100% {
// 		min-width: 0;
// 		transform: translate3d(0, 0, 0);
// 	}
// }
//
// @keyframes usage--sidebar-show {
// 	0% {
// 		min-width: 0;
// 		max-width: $sidebar--width-colapsed;
// 		transform: translate3d(0, 0, 0);
// 	}
// 	50% {
// 		min-width: 0;
// 		max-width: $sidebar--width-colapsed;
// 		transform: translate3d(-192px, 0, 0);
// 	}
// 	51% {
// 		min-width: 300px;
// 		max-width: 100%;
// 	}
// 	100% {
// 		min-width: 300px;
// 		max-width: 100%;
// 		transform: translate3d(0, 0, 0);
// 	}
// }
//
// @keyframes usage--flex-hide {
// 	0% {
// 		flex-direction: row;
// 		text-align: left;
// 	}
// 	99% {
// 		flex-direction: row;
// 		text-align: left;
// 	}
// 	100% {
// 		flex-direction: column;
// 		text-align: center;
// 	}
// }
//
// @keyframes usage--flex-show {
// 	0% {
// 		flex-direction: column;
// 		text-align: center;
// 	}
// 	99% {
// 		flex-direction: column;
// 		text-align: center;
// 	}
// 	100% {
// 		flex-direction: row;
// 		text-align: left;
// 	}
// }
//

@keyframes hideUsageInfo {
	0% {
		width: $sidebar--width;
		opacity: 1;
	}
	30% {
		width: $sidebar--width;
		opacity: 0;
	}
	31% {
		width: $sidebar--width-colapsed;
	}
	100% {
		width: $sidebar--width-colapsed;
		opacity: 1;
	}
}

@keyframes showUsageInfo {
	0% {
		width: $sidebar--width-colapsed;
		opacity: 1;
	}
	30% {
		width: $sidebar--width-colapsed;
		opacity: 0;
	}
	31% {
		width: $sidebar--width;
	}
	100% {
		width: $sidebar--width;
		opacity: 1;
	}
}

@keyframes smallBarWidth {
	0% {
		width: calc(100% - 111px);
		opacity: 1;
	}
	30% {
		width: calc(100% - 111px);
		opacity: 0;
	}
	31% {
		width: 100%;
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}

.usage-info {
	&--sidebar {
		padding: 15px $spacing-horizontal 12px $spacing-horizontal;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		transition: padding $animation--duration-slow $animation--timing,
								width $animation--duration-slow $animation--timing;

		&:after {
			content: '';
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			background-color: darken($color--mine-shaft, 8.5%);
		}

		@media (min-width: 1025px) {
			width: $sidebar--width;

			.sidebar--collapsed & {
				width: $sidebar--width-colapsed;
				padding: 14px 7px 12px 9px;
			}

			// .sidebar:not(.sidebar--collapsed) & {
			// 	animation: showUsageInfo ($animation--duration-slow * 2) forwards alternate $animation--timing;
			// }
			// .sidebar--collapsed & {
			//
			// 	animation: hideUsageInfo ($animation--duration-slow * 2) forwards alternate $animation--timing;
			// }
		}
	}
}

.usage-info__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 13px;

	&,
	* {
		transition: 0s $animation--duration-slow;
	}

	@media (min-width: 1025px) {
		// .sidebar--loaded:not(.sidebar--collapsed) & {
		// 	animation: usage--flex-show $animation--duration-slow forwards alternate $animation--timing;
		// }
		// .sidebar--collapsed & {
		// 	animation: usage--flex-hide $animation--duration-slow forwards alternate $animation--timing;
		// };
	}
}

.usage-info__name,
.usage-info__content {
	&:not(:last-of-type) {
		margin-bottom: 13px;
	}
}

.usage-info__name {
	@media (min-width: 1025px) {
		.sidebar--collapsed & {
			margin-bottom: 6px;
		}
	}
}

.usage-info__content {
	@media (min-width: 1025px) {
		&:not(:last-of-type) {
			.sidebar--collapsed & {
				margin-bottom: 16px;
			}
		}
	}
}

.usage-info__name {
	width: 111px;
	white-space: nowrap;
	transition: margin $animation--duration-slow $animation--timing;
}

.usage-info__bar,
.usage-info__content--col {
	&:before {
		content: '';
		width: 100%;
		height: 6px;
		border-radius: 6px;
		float: left;
		align-self: center;
		background-color: $color--mine-shaft;
		transition: width $animation--duration-slow $animation--timing;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 6px;
		border-radius: 6px;
		background-color: red;
		transition: width $animation--duration-slow $animation--timing;
	}

	$i: 0;

	@while $i < 100 {
		&[data-usage-traffic="#{$i}%"] {
			@if $i < 40 {
				color: $color--sushi;

				&:after {
					background-color: $color--sushi;
				}
			} @else if $i < 60 {
				color: $color--gold;

				&:after {
					background-color: $color--gold;
				}
			} @else if $i < 85 {
				color: $color--pizazz;

				&:after {
					background-color: $color--pizazz;
				}
			} @else {
				color: $color--sunset-orange;

				&:after {
					background-color: $color--sunset-orange;
				}
			}
		}

		$i: $i + 1;
	}
}

.usage-info__content {
	width: 100%;
	margin-top: -27px;
	margin-left: 0;
	padding-left: 111px;
	position: relative;
	align-content: space-between;
	align-self: center;
	text-align: right;
	font-size: $font-size--small;
	transition: margin $animation--duration-slow $animation--timing,
							padding $animation--duration-slow $animation--timing;

	&:last-of-type {
		margin-top: -10px;
	}

	@media (min-width: 1025px) {
		.sidebar--collapsed & {
			margin-top: 0 !important;
			padding-left: 0;
		}
	}

	&--only-bar {
		display: block;

		&:before {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&--col {
		width: 90px;
		padding-left: 0;
		position: absolute;
		top: 45px;
		right: 29px;

		@media (min-width: 1200px) and (max-width: 1400px) {
			width: 70px;
		}

		@media (min-width: 1200px) and (max-width: 1280px) {
			width: 50px;
		}

		@media (max-width: 767px) {
			right: $spacing-horizontal--small;
		}

		$i: 0;

		@while $i < 100 {
			$percentage: percentage($i / 100);

			&[data-usage-traffic="#{$i}%"] {
				&:after {
					width: $percentage;
				}
			}

			$i: $i + 1;
		}
	}
}

.usage-info__bar {
	$i: 0;

	@while $i < 100 {
		&[data-usage-traffic="#{$i}%"] {
			&:after {
				$percentage: percentage($i / 100);

				width: calc(#{$percentage} - #{round($i / 2.56)}px);
			}
		}

		$i: $i + 1;
	}

	&:before {
		width: calc(100% - 39px);

		@media (min-width: 1025px) {
			.sidebar--collapsed & {
				width: calc(100% - 34px);
			}
		}

		.ie &,
		.edge & {
			width: calc(100% - 34px) !important;
		}
	}
}

.usage-info__bar {
	width: 100%;
	height: 6px;
	display: block;
	position: relative;

	// &:before {
	// 	content: '';
	// 	width: calc(100% - 39px);
	// 	height: 6px;
	// 	border-radius: 6px;
	// 	float: left;
	// 	align-self: center;
	// 	background-color: $color--mine-shaft;
	// 	transition: width $animation--duration-slow $animation--timing;
	//
	// 	@media (min-width: 1025px) {
	// 		.sidebar--collapsed & {
	// 			width: calc(100% - 34px);
	// 		}
	// 	}
	//
	// 	.ie &,
	// 	.edge & {
	// 		width: calc(100% - 34px) !important;
	// 	}
	// }
	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	height: 6px;
	// 	border-radius: 6px;
	// 	background-color: red;
	// 	transition: width $animation--duration-slow $animation--timing;
	// }
}

.usage-info__content__text {
	position: absolute;
	top: -5px;
	right: 0;

	.ie &,
	.edge &,
	.safari & {
		top: -4px;
	}
}

.usage-info__heading {
	width: 100%;
	margin-top: 22px;
	margin-bottom: 8px;
	text-align: center;
	display: block;
	font-size: 120px;
	line-height: 1;

	@media (max-width: 1400px) and (min-width: 768px) {
		font-size: 96px;
	}

	&:before,
	&:after {
		position: absolute;
		top: 0;
		right: 0;
	}

	$i: 0;

	@while $i < 100 {
		&[data-usage-traffic="#{$i}%"] {
			@if $i < 40 {
				color: $color--sushi;
			} @else if $i < 60 {
				color: $color--gold;
			} @else if $i < 85 {
				color: $color--pizazz;
			} @else {
				color: $color--sunset-orange;
			}
		}

		$i: $i + 1;
	}
}

.usage-info__heading__unit {
	font-size: 50px;

	@media (max-width: 1400px) {
		font-size: 40px;
	}
}

.usage-info__list__unnecessary {
	transition: opacity $animation--duration $animation--timing,
							visibility $animation--duration $animation--timing;

	@media (min-width: 1025px) {
		.sidebar--collapsed & {
			opacity: 0;
			visibility: hidden;
		}
	}
}
