@font-face {
	font-family: 'Circular';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/Circular-Book.woff') format('woff');
}

@font-face {
	font-family: 'Circular';
	font-style: normal;
	font-weight: bold;
	src: url('../assets/Circular-Bold.woff') format('woff');
}
