* {
	box-sizing: border-box;
}

body {
	background-color: $color--cod-gray;
	color: $color--white;
	font-family: $font-family--default, $font-family--fallback;
	font-size: $font-size--paragraph;
}

button {
	padding: 0;
	border: 0;
	background: none;
	color: $color--white;
}

a {
	color: inherit;
	text-decoration: none;
}
