* {
	box-sizing: border-box;
}

:focus {
	outline: 0;
}

body {
	background-color: $color--cod-gray;
	color: $color--white;
	font-family: $font-family--default, $font-family--fallback;
	font-size: $font-size--paragraph;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&.overlay {
		pointer-events: none;
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}

	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: $initial-order * 10;
		pointer-events: auto;
		visibility: hidden;
		background-color: rgba(darken($color--cod-gray, 4%), 0.85);
		transition: opacity $animation--duration-slow $animation--timing,
					visibility $animation--duration-slow $animation--timing;
	}
}

button {
	padding: 0;
	border: 0;
	background: none;
	color: $color--white;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

//TODO: Remove that after work
.example-pic {
	max-width: 100%;
	display: block;
}

.invisible-helper {
	display: none;
}
