* {
	box-sizing: border-box;
}

body {
  background-color: $color--cod-gray;
  font-family: $font-family--default, $font-family--fallback;
  font-size: $font-size--paragraph;
  color: $color--white;
}

button {
  padding: 0;
  border: 0;
  background: none;
  color: $color--white;
}

a {
	color: inherit;
	text-decoration: none
}