@font-face {
	font-family: 'Icons';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/icons.eot?ehlfg6');
	src: url('../assets/icons.eot?ehlfg6#iefix') format('embedded-opentype'),
	url('../assets/icons.ttf?ehlfg6') format('truetype'),
	url('../assets/icons.woff?ehlfg6') format('woff'),
	url('../assets/icons.svg?ehlfg6#icons') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
	&:before {
		font-family: 'Icons' !important;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		line-height: 1;
		text-transform: none;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.icon-notification {
	&:before {
		content: '\e900';
	}
}
.icon-search {
	&:before {
		content: '\e901';
	}
}
.icon-menu {
	&:before {
		content: '\e902';
	}
}
.icon-server {
	&:before {
		content: '\e903';
	}
}
.icon-storage {
	&:before {
		content: '\e904';
	}
}
.icon-clock {
	&:before {
		content: '\e905';
	}
}
.icon-logo {
	&:before {
		content: '\e906';
	}
}
