$initial-order: 100;

//Spacings
$spacing: 30px;
$spacing-horizontal: 30px;
$spacing-vertical: 30px;

$spacing--small: 20px;
$spacing-horizontal--small: 20px;
$spacing-vertical--small: 20px;

//Colors Palette
$color--blue-marguerite: #6863ce;
$color--boulder: #777;
$color--mine-shaft: #3a3a3a;
$color--white: #fff;
$color--rose-white: #fffefe;
$color--sushi: #7fc146;
$color--sunset-orange: #ff554c;
$color--blaze-orange: #ff6f00;
$color--pizazz: #ff9500;
$color--gold: #ffd300;
$color--chateau-green: #4cc053;
$color--cerulean: #03a9f4;
$color--cod-gray: #1e1e1e;
$color--black: #000;
$color--tundora: #464646;

//Font Family
$font-family--default: 'Circular';
$font-family--fallback: Proxima Nova, Open Sans, Source Sans Pro, sans-serif;

//Typography
$font-size--heading: 26px;
$font-size--title: 16px;
$font-size--paragraph: 16px;
$font-size--paragraph-small: 14px;
$font-size--small: 12px;

//Boxes & Input
$corner-radius: 5px;

//Animations
$animation--duration: 0.1s;
$animation--duration-slow: 0.3s;
$animation--timing: ease-in-out;

//Sidebar
$sidebar--width: 300px;
$sidebar--width-colapsed: 96px;

//Dropdown menu
$dropdown-menu--width: 240px;

//Calendar
$calendar--width: 240px;

//Toolbar
$toolbar--height: 70px;

//Notifications
$notifications--width: 250px;
