.profile-nav {
	float: right;
	position: relative;
	transition: opacity $animation--duration-slow $animation--timing;
}

.profile-nav__avatar {
	display: block;
	border-radius: 50%;
	cursor: pointer;
}
