.registration {
    display: flex;
    padding-bottom: 79px;
    padding-right: $spacing-horizontal;
    padding-left: $spacing-horizontal;
    position: static;
    flex-direction: column;
    align-items: center;
    background: darken($color--mine-shaft, 7%);

    @media (max-width: 767px) {
        padding-bottom: $spacing-vertical--small;
        padding-right: $spacing-horizontal--small;
        padding-left: $spacing-horizontal--small;
    }
}

.registration__header {
    margin-top: 79px;
    margin-bottom: 77px;
    text-align: center;

    @media (max-width: 767px) {
        margin-top: 42px;
        margin-bottom: 40px;
    }
}

.registration__header__description {
    color: $color--boulder;
    font-weight: normal;
    font-size: $font-size--title;
}

.registration__logo {
    @include only-icon-font;
    margin-bottom: 25px;
    font-size: 0;

    &:before {
        font-size: 32px;
    }
}

.registration__content {
    width: 100%;
    max-width: 680px;
    padding: #{$spacing * 2};
    border-radius: $corner-radius;
    position: relative;
    background: $color--cod-gray;

    @media (max-width: 767px) {
        padding: $spacing;
    }

    &--fluid {
        width: auto;
        max-width: none;
        

        &:before {
            display: none;
        }
    }
    &--transparent {
        background: none;
    }
    &--with-illustration {
        margin-top: 169px;

        @media (max-width: 767px) {
            margin-top: 220px;
        }

        @media (max-width: 550px) {
            margin-top: 150px;
        }

        @media (max-width: 375px) {
            margin-top: 85px;
        }

        @media (max-width: 320px) {
            margin-top: 62px;
        }

        &:before {
            content: '';
            height: 363px;
            position: absolute;
            top: -220px;
            right: 2px;
            left: 2px;
            z-index: -1;
            background: url('../assets/organisation.svg') no-repeat center 0;
            background-size: contain;

            @media (max-width: 550px) {
                top: -149px;
            }

            @media (max-width: 375px) {
                top: -108px;
            }

            @media (max-width: 320px) {
                top: -90px;
            }
        }
    }
    &--pricing {
        display: flex;
        margin-top: -32px;
        margin-bottom: -46px;

        @media (max-width: 1024px) {
            padding-right: 0;
            padding-left: 0;
        }

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
}

.registration__footer {
    margin-top: 10px;
    text-align: center;
}

.registration__text {
    color: $color--boulder;
    line-height: 1.25;

    &--white {
        color: $color--white;
    }
}