.sidebar {
	width: $sidebar--width;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: darken($color--mine-shaft, 7%);
	overflow: hidden;
	transition: width $animation--duration-slow ease-in-out;

	@media (max-width: 1024px) {
		width: $sidebar--width - 75px;
	}

	&--collapsed {
		width: $sidebar--width-colapsed;
	}
}

.sidebar__nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar__nav__item {
	margin-right: $spacing-horizontal;
	margin-bottom: 39px;
	margin-left: $spacing-horizontal;
	position: relative;
	color: $color--boulder;

	&:hover,
	&.active {
		color: $color--blue-marguerite;
	}

	&:before {
		position: absolute;
		top: 50%;
		left: 0;
		font-size: 24px;
		transform: translate3d(0, -50%, 0);
		transition: transform $animation--duration-slow $animation--timing;

		.sidebar--collapsed & {
			transform: translate3d(7px, -50%, 0);
		}
	}
	&:after {
		content: '';
		opacity: 0;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: -33px;
		transform: translate3d(0, -50%,0);
		background-color: $color--blue-marguerite;
		box-shadow: 0 0 10px 3px rgba($color--blue-marguerite, 0.32);
	}

	&.active {
		&:after {
			opacity: 1;
		}
	}
}

.sidebar__nav__item__link {
	display: block;
	height: 24px;
	padding-top: 3px;
	padding-bottom: 1px;
	padding-left: 37px;
	overflow: hidden;
	white-space: nowrap;
	transition: opacity $animation--duration-slow $animation--duration $animation--timing,
							height $animation--duration $animation--timing;

	@media (max-width: 1024px) {
		white-space: normal;
		height: 44px;
	}

	.sidebar--collapsed & {
		opacity: 0;
		transition: opacity $animation--duration $animation--timing,
								height $animation--duration $animation--timing;

		@media (max-width: 1024px) {
			height: 24px;
		}
	}
}

.sidebar__btn {
	height: 16px;
	font-size: 0;
	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}

	&:before {
		font-size: $font-size--paragraph;
	}
}
