.sidebar {
	width: $sidebar--width;
	padding-top: 40px;
	position: fixed;
	top: 70px;
	bottom: 0;
	left: 0;
	z-index: $initial-order;
	overflow: hidden;
	background-color: darken($color--mine-shaft, 7%);
	transition: width $animation--duration-slow ease-in-out,
							left $animation--duration-slow ease-in-out,
							transform $animation--duration-slow ease-in-out;

	@media (max-width: 1024px) {
		width: $sidebar--width !important;
		transform: translate3d(-#{$sidebar--width}, 0, 0);

		&--collapsed {
			transform: translate3d(0, 0, 0);
		}
	}
	@media (max-width: 767px) {
		width: 100% !important;
		transform: translate3d(-100%, 0, 0);

		&--collapsed {
			transform: translate3d(0, 0, 0);
		}
	}

	&--collapsed {
		width: $sidebar--width-colapsed;
	}
}

.sidebar__nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar__nav__item {
	margin-right: $spacing-horizontal;
	margin-bottom: 39px;
	margin-left: $spacing-horizontal;
	position: relative;
	color: $color--boulder;

	&:hover,
	&.active {
		color: $color--blue-marguerite;
	}

	&:before {
		position: absolute;
		top: 50%;
		left: 0;
		font-size: 24px;
		cursor: default;
		transform: translate3d(0, -50%, 0);
		transition: transform $animation--duration-slow $animation--timing;

		.sidebar--collapsed & {
			transform: translate3d(7px, -50%, 0);

			@media (max-width: 1024px) {
				transform: translate3d(0, -50%, 0);
			}
		}
	}
	&:after {
		content: '';
		opacity: 0;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: -33px;
		transform: translate3d(0, -50%,0);
		background-color: $color--blue-marguerite;
		box-shadow: 0 0 10px 3px rgba($color--blue-marguerite, 0.32);
	}

	&.active {
		&:after {
			opacity: 1;
		}
	}
}

.sidebar__nav__item__link {
	display: block;
	padding-top: 3px;
	padding-bottom: 1px;
	padding-left: 37px;
	overflow: hidden;
	white-space: nowrap;
	transition: opacity $animation--duration-slow $animation--duration $animation--timing,
							height $animation--duration $animation--timing;

	.sidebar--collapsed & {
		opacity: 0;
		transition: opacity $animation--duration $animation--timing;

		@media (max-width: 1024px) {
			opacity: 1;
		}
	}
}

.sidebar__btn {
	height: 16px;
	margin-left: $spacing-horizontal;
	position: relative;
	font-size: 0;
	cursor: pointer;
	transition: opacity $animation--duration-slow $animation--timing;

	&:hover {
		opacity: 0.5;
	}

	&:before {
		font-size: $font-size--paragraph;
	}

	@media (max-width: 1024px) {
		&:before {
			display: block;
			position: relative;
			left: 0;
			transition: transform $animation--duration-slow $animation--timing,
									opacity $animation--duration-slow $animation--timing;
		}
		&:after {
			@include only-icon-font;
			position: absolute;
			top: 1px;
			left: 2px;
			transform: translate3d(25px, 0, 0);
			content: '\e90a';
			font-size: 14px;
			opacity: 0;
			transition: transform $animation--duration-slow $animation--timing,
									opacity $animation--duration-slow $animation--timing;
		}

		&--active {
			&:before {
				opacity: 0;
				transform: translate3d(-25px, 0, 0);
			}
			&:after {
				opacity: 1;
				transform: translate3d(0, 0, 0)
			}
		}
	}

	@media (max-width: 767px) {
		width: 35px;
		height: 35px;
		margin-left: 11px;
		text-align: center;

		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -8px;
			margin-left: -8px;
		}
		&:after {
			margin-top: 10px;
			margin-left: 9px;
		}
	}
}
