.toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $initial-order;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 $spacing-horizontal;
  transform: translate3d(0, 0, 0);
  background-color: darken($color--mine-shaft, 7%);
  transition: width $animation--duration-slow ease-in-out,
              margin $animation--duration-slow ease-in-out;

  @media (max-width: 767px) {
    padding-right: $spacing-horizontal--small;
    padding-left: $spacing-horizontal--small;
  }

  .safari &,
  .firefox & {
    position: sticky;
  }
}

.toolbar__actions {
	margin-left: auto;

  @media (max-width: 767px) {
    .profile-nav {
      display: none;
    }

    .notifications-nav {
      display: none;
    }
  }
}
