@keyframes hideIcons {
  0% {
    opacity: 1;
    margin-top: 0;
  }
  50% {
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 0;
    margin-top: -1000px;
  }
}

@keyframes showIcons {
  0% {
    opacity: 0;
    margin-top: -1000px;
  }
  50% {
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $initial-order;
  display: flex;
  align-items: center;
  height: $toolbar--height;
  padding: 0 $spacing-horizontal;
  transform: translate3d(0, 0, 0);
  background-color: darken($color--mine-shaft, 7%);
  transition: width $animation--duration-slow ease-in-out,
              margin $animation--duration-slow ease-in-out;

  @media (max-width: 767px) {
    padding-right: $spacing-horizontal--small;
    padding-left: $spacing-horizontal--small;

    .toolbar__actions {
      .profile-nav,
      .search-nav,
      .results {
        animation: showIcons $animation--duration-slow forwards alternate $animation--timing;
      }
    }

    .sidebar__btn,
    .notifications-nav__button {
      animation: showIcons $animation--duration-slow forwards alternate $animation--timing;
    }

    &--active {
      .toolbar__actions {
        .profile-nav,
        .search-nav,
        .results {
          animation: hideIcons #{$animation--duration-slow * 2} forwards alternate $animation--timing;
        }
      }

      .sidebar__btn,
      .notifications-nav__button {
        animation: hideIcons #{$animation--duration-slow * 2} forwards alternate $animation--timing;
      }
    }
  }

  .safari &,
  .firefox & {
    position: sticky;
  }
}

.toolbar__actions {
	margin-left: auto;
}
