.wrapper {
  margin-top: 70px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: $sidebar--width;
  transition: left $animation--duration-slow $animation--timing;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .sidebar--collapsed ~ & {
    left: $sidebar--width-colapsed;
  }

  @media (max-width: 1024px) {
    left: 0;
  }

  &--fade {
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: $initial-order * 10;
      background-color: rgba(darken($color--cod-gray, 4%), 0.85);
    }
  }
}
