.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: $sidebar--width;
  transition: left $animation--duration-slow $animation--timing;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: $initial-order * 10;
    pointer-events: none;
    visibility: hidden;
    background-color: rgba(darken($color--cod-gray, 4%), 0.85);
    transition: opacity #{$animation--duration-slow * 2} $animation--timing,
                visibility #{$animation--duration-slow * 2} $animation--timing;

    .ie & {
      z-index: 0;
    }
  }

  .sidebar--collapsed ~ & {
    left: $sidebar--width-colapsed;

    @media (max-width: 1024px) {
      left: 0;
    }
  }

  @media (max-width: 1024px) {
    left: 0;
  }

  &--fade {
    &:after {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}
